In [1]:
import pandas as pd
import pyreadstat

In [2]:
pd.set_option('display.max_rows', None)

In [5]:
base=pd.read_spss(r"C:\Users\wmate\Downloads\SPSS\Compilado\2023.sav")

In [6]:
df=base.copy()
df.head()

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1.0,2023.0,April,"Employed, at work",Ontario,Toronto,50 to 54 years,NaN,Male,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Person not in an economic family,NaN,1129.0
1,2.0,2023.0,April,"Employed, at work",Nova Scotia,Other CMA or non-CMA,55 to 59 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Other families,NaN,184.0
2,3.0,2023.0,April,"Employed, at work",Alberta,Other CMA or non-CMA,55 to 59 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, no children or none under 25",NaN,457.0
3,4.0,2023.0,April,Not in labour force,British Columbia,Other CMA or non-CMA,15 to 19 years,15 to 16 years,Male,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,"Dual-earner couple, youngest child 0 to 17",NaN,874.0
4,5.0,2023.0,April,"Employed, absent from work",Saskatchewan,Other CMA or non-CMA,25 to 29 years,27 to 29 years,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, no children or none under 25",NaN,90.0

In [6]:
print(df["SURVYEAR"].unique())
print(df["SURVMNTH"].unique())

[2023.]
['April', 'August', 'December', 'February', 'January', ..., 'March', 'May', 'November', 'October', 'September']
Length: 12
Categories (12, object): ['April', 'August', 'December', 'February', ..., 'May', 'November', 'October', 'September']

In [ ]:
df.dtypes

In [ ]:
Y= df[["LFSSTAT"]]
X=df[["EDUC","AGE_12","IMMIG","HRLYEARN","TENURE","SEX","PROV","NAICS_21","FTPTMAIN","MARSTAT","DURUNEMP"]]

In [6]:
Y.head()

               LFSSTAT
0  Not in labour force
1    Employed, at work
2  Not in labour force
3    Employed, at work
4    Employed, at work

In [8]:
X.head()

,EDUC,AGE_12,IMMIG,HRLYEARN,TENURE,SEX,PROV,NAICS_21,FTPTMAIN,MARSTAT,DURUNEMP
0,Postsecondary certificate or diploma,65 to 69 years,Non-immigrant,NaN,NaN,Male,Manitoba,NaN,NaN,Married,NaN
1,Postsecondary certificate or diploma,40 to 44 years,Non-immigrant,17.25,12.0,Female,British Columbia,Accommodation and food services,Full-time,Living in common-law,NaN
2,High school graduate,70 and over,Non-immigrant,NaN,NaN,Female,British Columbia,NaN,NaN,Divorced,NaN
3,Some postsecondary,65 to 69 years,Non-immigrant,31.73,240.0,Male,Saskatchewan,"Professional, scientific and technical services",Full-time,Married,NaN
4,Postsecondary certificate or diploma,70 and over,"Immigrant, landed more than 10 years earlier",18.46,83.0,Female,Ontario,Transportation and warehousing,Part-time,Separated,NaN

In [8]:
def calculate_zero_nan_percentages(df):
    # Porcentaje de datos que son 0
    zero_percentage = (df == 0).mean() * 100
    # Porcentaje de datos que son NaN
    nan_percentage = df.isna().mean() * 100

    return zero_percentage, nan_percentage

In [10]:

zero_percentage, nan_percentage = calculate_zero_nan_percentages(df)

print("Porcentaje de 0 en cada columna:\n", zero_percentage)
print("Porcentaje de NaN en cada columna:\n", nan_percentage)

Porcentaje de 0 en cada columna:
 REC_NUM      0.000000
SURVYEAR     0.000000
SURVMNTH     0.000000
LFSSTAT      0.000000
PROV         0.000000
CMA          0.000000
AGE_12       0.000000
AGE_6        0.000000
SEX          0.000000
MARSTAT      0.000000
EDUC         0.000000
MJH          0.000000
EVERWORK     0.000000
FTPTLAST     0.000000
COWMAIN      0.000000
IMMIG        0.000000
NAICS_21     0.000000
NOC_10       0.000000
NOC_43       0.000000
YABSENT      0.000000
WKSAWAY      0.000000
PAYAWAY      0.000000
UHRSMAIN     0.000000
AHRSMAIN     5.559070
FTPTMAIN     0.000000
UTOTHRS      0.000000
ATOTHRS      5.518134
HRSAWAY     39.081683
YAWAY        0.000000
PAIDOT      41.922733
UNPAIDOT    42.715498
XTRAHRS     38.380727
WHYPT        0.000000
TENURE       0.000000
PREVTEN      0.000000
HRLYEARN     0.000000
UNION        0.000000
PERMTEMP     0.000000
ESTSIZE      0.000000
FIRMSIZE     0.000000
DURUNEMP     0.000000
FLOWUNEM     0.000000
UNEMFTPT     0.000000
WHYLEFTO     0.000000
WHYLEFTN     0.000000
DURJLESS     0.000000
AVAILABL     0.000000
LKPUBAG      0.000000
LKEMPLOY     0.000000
LKRELS       0.000000
LKATADS      0.000000
LKANSADS     0.000000
LKOTHERN     0.000000
PRIORACT     0.000000
YNOLOOK      0.000000
TLOLOOK      0.000000
SCHOOLN      0.000000
EFAMTYPE     0.000000
AGYOWNK      0.000000
FINALWT      0.000000
dtype: float64
Porcentaje de NaN en cada columna:
 REC_NUM      0.000000
SURVYEAR     0.000000
SURVMNTH     0.000000
LFSSTAT      0.000000
PROV         0.000000
CMA          0.000000
AGE_12       0.000000
AGE_6       80.991438
SEX          0.000000
MARSTAT      0.000000
EDUC         0.000000
MJH         40.821316
EVERWORK    59.178684
FTPTLAST    93.462618
COWMAIN     34.283934
IMMIG        0.000000
NAICS_21    34.283934
NOC_10      34.283934
NOC_43      34.283934
YABSENT     94.415790
WKSAWAY     94.415790
PAYAWAY     94.965089
UHRSMAIN    40.821316
AHRSMAIN    40.821316
FTPTMAIN    40.821316
UTOTHRS     40.821316
ATOTHRS     40.821316
HRSAWAY     53.490799
YAWAY       92.533103
PAIDOT      53.490799
UNPAIDOT    53.490799
XTRAHRS     53.490799
WHYPT       89.095810
TENURE      40.821316
PREVTEN     93.462618
HRLYEARN    48.881193
UNION       48.881193
PERMTEMP    48.881193
ESTSIZE     48.881193
FIRMSIZE    48.881193
DURUNEMP    96.813663
FLOWUNEM    96.629896
UNEMFTPT    96.629896
WHYLEFTO    93.462618
WHYLEFTN    93.462618
DURJLESS    65.446644
AVAILABL    96.235071
LKPUBAG     99.621787
LKEMPLOY    98.514215
LKRELS      99.017683
LKATADS     97.669464
LKANSADS    98.672174
LKOTHERN    99.250099
PRIORACT    96.959461
YNOLOOK     98.744851
TLOLOOK     99.851681
SCHOOLN     25.864829
EFAMTYPE     0.000000
AGYOWNK     74.257163
FINALWT      0.000000
dtype: float64

In [11]:
df.groupby('LFSSTAT')['HRLYEARN'].mean().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_14720\2956596758.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('LFSSTAT')['HRLYEARN'].mean().reset_index()

                      LFSSTAT   HRLYEARN
0  Employed, absent from work  34.100958
1           Employed, at work  32.821519
2         Not in labour force        NaN
3                  Unemployed        NaN

In [12]:
df['LFSSTAT'].value_counts().reset_index()

                      LFSSTAT   count
0           Employed, at work  723583
1         Not in labour force  505009
2  Employed, absent from work   74409
3                  Unemployed   45444

In [35]:
df['LFSSTAT'].value_counts().reset_index()

                      LFSSTAT  count
0           Employed, at work  54232
1         Not in labour force  35774
2  Employed, absent from work   4562
3                  Unemployed   2954

In [13]:
df.groupby('LFSSTAT')['HRLYEARN'].sum().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_14720\1007189753.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('LFSSTAT')['HRLYEARN'].sum().reset_index()

                      LFSSTAT     HRLYEARN
0  Employed, absent from work   2143722.61
1           Employed, at work  20560876.43
2         Not in labour force         0.00
3                  Unemployed         0.00

In [14]:
df.groupby('IMMIG')['HRLYEARN'].mean().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_14720\2995266047.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('IMMIG')['HRLYEARN'].mean().reset_index()

                                          IMMIG   HRLYEARN
0    Immigrant, landed 10 or less years earlier  29.880679
1  Immigrant, landed more than 10 years earlier  34.314263
2                                 Non-immigrant  32.984511

In [ ]:
df.groupby(['EDUC','IMMIG'])['HRLYEARN'].mean().reset_index()

In [4]:
df.groupby(['EDUC','IMMIG'])['HRLYEARN'].mean().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_31164\2786644055.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['EDUC','IMMIG'])['HRLYEARN'].mean().reset_index()

,EDUC,IMMIG,HRLYEARN
0,0 to 8 years,"Immigrant, landed 10 or less years earlier",20.349849
1,0 to 8 years,"Immigrant, landed more than 10 years earlier",23.314585
2,0 to 8 years,Non-immigrant,23.270050
3,Above bachelor's degree,"Immigrant, landed 10 or less years earlier",38.570520
4,Above bachelor's degree,"Immigrant, landed more than 10 years earlier",47.651678
5,Above bachelor's degree,Non-immigrant,47.997188
6,Bachelor's degree,"Immigrant, landed 10 or less years earlier",32.659102
7,Bachelor's degree,"Immigrant, landed more than 10 years earlier",38.793085
8,Bachelor's degree,Non-immigrant,40.973297
9,High school graduate,"Immigrant, landed 10 or less years earlier",22.235483
10,High school graduate,"Immigrant, landed more than 10 years earlier",25.596620
11,High school graduate,Non-immigrant,26.173409
12,Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",26.169963
13,Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",30.721526
14,Postsecondary certificate or diploma,Non-immigrant,32.667235
15,Some high school,"Immigrant, landed 10 or less years earlier",18.769508
16,Some high school,"Immigrant, landed more than 10 years earlier",22.728278
17,Some high school,Non-immigrant,21.779533
18,Some postsecondary,"Immigrant, landed 10 or less years earlier",20.898321
19,Some postsecondary,"Immigrant, landed more than 10 years earlier",26.121262
20,Some postsecondary,Non-immigrant,25.131535

In [15]:
df.groupby(['EDUC','IMMIG'])['HRLYEARN'].mean().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_14720\2786644055.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['EDUC','IMMIG'])['HRLYEARN'].mean().reset_index()

,EDUC,IMMIG,HRLYEARN
0,0 to 8 years,"Immigrant, landed 10 or less years earlier",20.349849
1,0 to 8 years,"Immigrant, landed more than 10 years earlier",23.314585
2,0 to 8 years,Non-immigrant,23.270050
3,Above bachelor's degree,"Immigrant, landed 10 or less years earlier",38.570520
4,Above bachelor's degree,"Immigrant, landed more than 10 years earlier",47.651678
5,Above bachelor's degree,Non-immigrant,47.997188
6,Bachelor's degree,"Immigrant, landed 10 or less years earlier",32.659102
7,Bachelor's degree,"Immigrant, landed more than 10 years earlier",38.793085
8,Bachelor's degree,Non-immigrant,40.973297
9,High school graduate,"Immigrant, landed 10 or less years earlier",22.235483
10,High school graduate,"Immigrant, landed more than 10 years earlier",25.596620
11,High school graduate,Non-immigrant,26.173409
12,Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",26.169963
13,Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",30.721526
14,Postsecondary certificate or diploma,Non-immigrant,32.667235
15,Some high school,"Immigrant, landed 10 or less years earlier",18.769508
16,Some high school,"Immigrant, landed more than 10 years earlier",22.728278
17,Some high school,Non-immigrant,21.779533
18,Some postsecondary,"Immigrant, landed 10 or less years earlier",20.898321
19,Some postsecondary,"Immigrant, landed more than 10 years earlier",26.121262
20,Some postsecondary,Non-immigrant,25.131535

In [12]:
df.groupby(['NAICS_21','IMMIG'])['HRLYEARN'].mean().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_14164\845961328.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['NAICS_21','IMMIG'])['HRLYEARN'].mean().reset_index()

,NAICS_21,IMMIG,HRLYEARN
0,Accommodation and food services,"Immigrant, landed 10 or less years earlier",18.182813
1,Accommodation and food services,"Immigrant, landed more than 10 years earlier",20.231781
2,Accommodation and food services,Non-immigrant,19.039604
3,Agriculture,"Immigrant, landed 10 or less years earlier",21.856250
4,Agriculture,"Immigrant, landed more than 10 years earlier",23.209167
5,Agriculture,Non-immigrant,23.051006
6,"Business, building and other support services","Immigrant, landed 10 or less years earlier",22.457391
7,"Business, building and other support services","Immigrant, landed more than 10 years earlier",26.056085
8,"Business, building and other support services",Non-immigrant,25.287973
9,Construction,"Immigrant, landed 10 or less years earlier",31.066405
10,Construction,"Immigrant, landed more than 10 years earlier",35.439530
11,Construction,Non-immigrant,33.174059
12,Educational services,"Immigrant, landed 10 or less years earlier",33.902271
13,Educational services,"Immigrant, landed more than 10 years earlier",40.048110
14,Educational services,Non-immigrant,38.086285
15,Finance and insurance,"Immigrant, landed 10 or less years earlier",40.058186
16,Finance and insurance,"Immigrant, landed more than 10 years earlier",43.180982
17,Finance and insurance,Non-immigrant,39.821629
18,"Fishing, hunting and trapping","Immigrant, landed 10 or less years earlier",21.950000
19,"Fishing, hunting and trapping","Immigrant, landed more than 10 years earlier",NaN
20,"Fishing, hunting and trapping",Non-immigrant,26.752609
21,Forestry and logging and support activities fo...,"Immigrant, landed 10 or less years earlier",29.887500
22,Forestry and logging and support activities fo...,"Immigrant, landed more than 10 years earlier",27.371111
23,Forestry and logging and support activities fo...,Non-immigrant,32.287029
24,Health care and social assistance,"Immigrant, landed 10 or less years earlier",27.490432
25,Health care and social assistance,"Immigrant, landed more than 10 years earlier",31.513409
26,Health care and social assistance,Non-immigrant,32.050894
27,"Information, culture and recreation","Immigrant, landed 10 or less years earlier",36.394186
28,"Information, culture and recreation","Immigrant, landed more than 10 years earlier",34.608147
29,"Information, culture and recreation",Non-immigrant,28.655108
30,Manufacturing - durable goods,"Immigrant, landed 10 or less years earlier",29.333232
31,Manufacturing - durable goods,"Immigrant, landed more than 10 years earlier",33.700832
32,Manufacturing - durable goods,Non-immigrant,33.319602
33,Manufacturing - non-durable goods,"Immigrant, landed 10 or less years earlier",26.687689
34,Manufacturing - non-durable goods,"Immigrant, landed more than 10 years earlier",28.881067
35,Manufacturing - non-durable goods,Non-immigrant,31.901272
36,"Mining, quarrying, and oil and gas extraction","Immigrant, landed 10 or less years earlier",43.748378
37,"Mining, quarrying, and oil and gas extraction","Immigrant, landed more than 10 years earlier",55.225974
38,"Mining, quarrying, and oil and gas extraction",Non-immigrant,49.694327
39,Other services (except public administration),"Immigrant, landed 10 or less years earlier",22.948542
40,Other services (except public administration),"Immigrant, landed more than 10 years earlier",26.480254
41,Other services (except public administration),Non-immigrant,27.744617
42,"Professional, scientific and technical services","Immigrant, landed 10 or less years earlier",43.624393
43,"Professional, scientific and technical services","Immigrant, landed more than 10 years earlier",46.415693
44,"Professional, scientific and technical services",Non-immigrant,41.411501
45,Public administration,"Immigrant, landed 10 or less years earlier",37.975865
46,Public administration,"Immigrant, landed more than 10 years earlier",43.228148
47,Public administration,Non-immigrant,40.953614
48,Real estate and rental and leasing,"Immigrant, landed 10 or less years earlier",29.320238
49,Real estate and rental and leasing,"Immigrant, landed more than 10 years earlier",33.412584
50,Real estate and rental and leasing,Non-immigrant,32.993713
51,Retail trade,"Immigrant, landed 10 or less years earlier",21.471831
52,Retail trade,"Immigrant, landed more than 10 years earlier",24.209967
53,Retail trade,Non-immigrant,22.523737
54,Transportation and warehousing,"Immigrant, landed 10 or less years earlier",25.926535
55,Transportation and warehousing,"Immigrant, landed more than 10 years earlier",30.596955
56,Transportation and warehousing,Non-immigrant,32.137797
57,Utilities,"Immigrant, landed 10 or less years earlier",37.582308
58,Utilities,"Immigrant, landed more than 10 years earlier",51.183818
59,Utilities,Non-immigrant,47.265275
60,Wholesale trade,"Immigrant, landed 10 or less years earlier",33.052268
61,Wholesale trade,"Immigrant, landed more than 10 years earlier",35.367708
62,Wholesale trade,Non-immigrant,34.058617

In [32]:
df.groupby(['IMMIG','LFSSTAT'])['HRLYEARN'].count().reset_index()

C:\Users\wmate\AppData\Local\Temp\ipykernel_35188\1254584417.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['IMMIG','LFSSTAT'])['HRLYEARN'].count().reset_index()

,IMMIG,LFSSTAT,HRLYEARN
0,"Immigrant, landed 10 or less years earlier","Employed, absent from work",273
1,"Immigrant, landed 10 or less years earlier","Employed, at work",3279
2,"Immigrant, landed 10 or less years earlier",Not in labour force,0
3,"Immigrant, landed 10 or less years earlier",Unemployed,0
4,"Immigrant, landed more than 10 years earlier","Employed, absent from work",499
5,"Immigrant, landed more than 10 years earlier","Employed, at work",6323
6,"Immigrant, landed more than 10 years earlier",Not in labour force,0
7,"Immigrant, landed more than 10 years earlier",Unemployed,0
8,Non-immigrant,"Employed, absent from work",3098
9,Non-immigrant,"Employed, at work",37387
10,Non-immigrant,Not in labour force,0
11,Non-immigrant,Unemployed,0

In [53]:
df[["LFSSTAT",'EDUC','IMMIG']].value_counts().reset_index().sort_values(["LFSSTAT",'EDUC','IMMIG'])

,LFSSTAT,EDUC,IMMIG,count
83,"Employed, absent from work",0 to 8 years,"Immigrant, landed 10 or less years earlier",4
78,"Employed, absent from work",0 to 8 years,"Immigrant, landed more than 10 years earlier",19
64,"Employed, absent from work",0 to 8 years,Non-immigrant,59
62,"Employed, absent from work",Above bachelor's degree,"Immigrant, landed 10 or less years earlier",63
58,"Employed, absent from work",Above bachelor's degree,"Immigrant, landed more than 10 years earlier",95
34,"Employed, absent from work",Above bachelor's degree,Non-immigrant,324
54,"Employed, absent from work",Bachelor's degree,"Immigrant, landed 10 or less years earlier",101
47,"Employed, absent from work",Bachelor's degree,"Immigrant, landed more than 10 years earlier",174
24,"Employed, absent from work",Bachelor's degree,Non-immigrant,715
71,"Employed, absent from work",High school graduate,"Immigrant, landed 10 or less years earlier",37
55,"Employed, absent from work",High school graduate,"Immigrant, landed more than 10 years earlier",100
27,"Employed, absent from work",High school graduate,Non-immigrant,619
61,"Employed, absent from work",Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",74
44,"Employed, absent from work",Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",209
14,"Employed, absent from work",Postsecondary certificate or diploma,Non-immigrant,1478
81,"Employed, absent from work",Some high school,"Immigrant, landed 10 or less years earlier",9
73,"Employed, absent from work",Some high school,"Immigrant, landed more than 10 years earlier",31
39,"Employed, absent from work",Some high school,Non-immigrant,237
80,"Employed, absent from work",Some postsecondary,"Immigrant, landed 10 or less years earlier",10
75,"Employed, absent from work",Some postsecondary,"Immigrant, landed more than 10 years earlier",27
46,"Employed, absent from work",Some postsecondary,Non-immigrant,177
69,"Employed, at work",0 to 8 years,"Immigrant, landed 10 or less years earlier",49
50,"Employed, at work",0 to 8 years,"Immigrant, landed more than 10 years earlier",142
30,"Employed, at work",0 to 8 years,Non-immigrant,539
23,"Employed, at work",Above bachelor's degree,"Immigrant, landed 10 or less years earlier",838
18,"Employed, at work",Above bachelor's degree,"Immigrant, landed more than 10 years earlier",1195
6,"Employed, at work",Above bachelor's degree,Non-immigrant,3602
20,"Employed, at work",Bachelor's degree,"Immigrant, landed 10 or less years earlier",1097
12,"Employed, at work",Bachelor's degree,"Immigrant, landed more than 10 years earlier",2238
3,"Employed, at work",Bachelor's degree,Non-immigrant,8015
31,"Employed, at work",High school graduate,"Immigrant, landed 10 or less years earlier",484
17,"Employed, at work",High school graduate,"Immigrant, landed more than 10 years earlier",1200
2,"Employed, at work",High school graduate,Non-immigrant,8458
21,"Employed, at work",Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",915
10,"Employed, at work",Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",2332
0,"Employed, at work",Postsecondary certificate or diploma,Non-immigrant,16479
48,"Employed, at work",Some high school,"Immigrant, landed 10 or less years earlier",144
35,"Employed, at work",Some high school,"Immigrant, landed more than 10 years earlier",320
7,"Employed, at work",Some high school,Non-immigrant,3270
49,"Employed, at work",Some postsecondary,"Immigrant, landed 10 or less years earlier",143
36,"Employed, at work",Some postsecondary,"Immigrant, landed more than 10 years earlier",283
9,"Employed, at work",Some postsecondary,Non-immigrant,2489
52,Not in labour force,0 to 8 years,"Immigrant, landed 10 or less years earlier",117
25,Not in labour force,0 to 8 years,"Immigrant, landed more than 10 years earlier",665
11,Not in labour force,0 to 8 years,Non-immigrant,2255
51,Not in labour force,Above bachelor's degree,"Immigrant, landed 10 or less years earlier",139
32,Not in labour force,Above bachelor's degree,"Immigrant, landed more than 10 years earlier",463
15,Not in labour force,Above bachelor's degree,Non-immigrant,1415
40,Not in labour force,Bachelor's degree,"Immigrant, landed 10 or less years earlier",231
22,Not in labour force,Bachelor's degree,"Immigrant, landed more than 10 years earlier",911
8,Not in labour force,Bachelor's degree,Non-immigrant,3095
41,Not in labour force,High school graduate,"Immigrant, landed 10 or less years earlier",219
19,Not in labour force,High school graduate,"Immigrant, landed more than 10 years earlier",1146
4,Not in labour force,High school graduate,Non-immigrant,6353
45,Not in labour force,Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",202
13,Not in labour force,Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",1591
1,Not in labour force,Postsecondary certificate or diploma,Non-immigrant,9116
37,Not in labour force,Some high school,"Immigrant, landed 10 or less years earlier",270
28,Not in labour force,Some high school,"Immigrant, landed more than 10 years earlier",604
5,Not in labour force,Some high school,Non-immigrant,5349
68,Not in labour force,Some postsecondary,"Immigrant, landed 10 or less years earlier",54
43,Not in labour force,Some postsecondary,"Immigrant, landed more than 10 years earlier",212
16,Not in labour force,Some postsecondary,Non-immigrant,1367
77,Unemployed,0 to 8 years,"Immigrant, landed 10 or less years earlier",19
82,Unemployed,0 to 8 years,"Immigrant, landed more than 10 years earlier",9
63,Unemployed,0 to 8 years,Non-immigrant,63
65,Unemployed,Above bachelor's degree,"Immigrant, landed 10 or less years earlier",57
70,Unemployed,Above bachelor's degree,"Immigrant, landed more than 10 years earlier",44
53,Unemployed,Above bachelor's degree,Non-immigrant,109
59,Unemployed,Bachelor's degree,"Immigrant, landed 10 or less years earlier",84
56,Unemployed,Bachelor's degree,"Immigrant, landed more than 10 years earlier",95
38,Unemployed,Bachelor's degree,Non-immigrant,258
67,Unemployed,High school graduate,"Immigrant, landed 10 or less years earlier",55
60,Unemployed,High school graduate,"Immigrant, landed more than 10 years earlier",76
29,Unemployed,High school graduate,Non-immigrant,543
66,Unemployed,Postsecondary certificate or diploma,"Immigrant, landed 10 or less years earlier",56
57,Unemployed,Postsecondary certificate or diploma,"Immigrant, landed more than 10 years earlier",95
26,Unemployed,Postsecondary certificate or diploma,Non-immigrant,637
76,Unemployed,Some high school,"Immigrant, landed 10 or less years earlier",25
72,Unemployed,Some high school,"Immigrant, landed more than 10 years earlier",32
33,Unemployed,Some high school,Non-immigrant,437
79,Unemployed,Some postsecondary,"Immigrant, landed 10 or less years earlier",15
74,Unemployed,Some postsecondary,"Immigrant, landed more than 10 years earlier",28
42,Unemployed,Some postsecondary,Non-immigrant,217